.game {
}

.game-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.game-board {
  width: 2048px;
  height: 2048px;
}

.game-text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  pointer-events: none;
}

.game-stack {
  stroke-width: 5;
  stroken: transparent;
}

.game-stack:hover {
  stroken: red;
}

.game-player-list {
  position: absolute;
  left: 20px;
  bottom: 20px;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
