.material-icons[data-count] {
  position: relative;
}
.material-icons[data-count]:after {
  position: absolute;
  background-color: #ff5252;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: attr(data-count);
  text-align: center;
  line-height: 16px;
  top: 10px;
  right: 10px;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

.material-icons[data-count="0"]:after {
  display: none;
}

.game-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.game-chat--icon {
}

.game-chat--full {
  background-color: white;
  color: black;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 5px #b71c1c solid;
  border-bottom: 5px #b71c1c solid;
  bottom: 55px;
  border-radius: 5px;
}

.game-chat__close {
  position: absolute;
  bottom: -36px;
  right: 0;
}

.game-chat__messages {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.game-chat__messages-item {
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px #dfdfdf solid;
}

.game-chat__messages-item-who {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.game-chat__messages-item-who > img {
  margin-right: 10px;
}

.game-chat__messages-item-text {
  padding-left: 42px;
}

.game-chat__you {
  width: 100%;
  background-color: white;
  padding: 10px;
  padding-bottom: 0;
}
